//@import './jquery.fullpage.min.css';

//atoms
@import 'atoms/variables';
@import 'atoms/mixins';
@import 'atoms/typography';
@import 'atoms/global';
@import 'atoms/buttons';
@import 'atoms/forms';

//components
@import 'components/logo';
@import 'components/language-menu';
@import 'components/loader';

@import 'components/section';
@import 'components/section-bg';
@import 'components/section-mockup';
@import 'components/section-content';

@import 'components/color-block';
@import 'components/business-form';
@import 'components/contact-form';
@import 'components/home-featured';