* {
	box-sizing: border-box;
	outline: 0 !important;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: $font-base;
	line-height: 1.6;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	color: #000;
	overflow-x: hidden;

	@media (min-width: $sm) {
		font-size: 18px;
	}

	@media (min-width: $md) {
		font-size: calc(12px + 0.3vw);
	//font-size: 16px;	
	}
}


img {
	max-width: 100%;
	height: auto;
}

a:link,
a:active,
a:visited,
a {
	outline: 0;
	color: $color1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	//font-family: $font-heading;
	margin: 0;
	font-weight: 500;
}

.font-base {
	font-family: $font-base;
}

.font-heading {
	font-family: $font-heading;
}

.heading-caps {
	font-family: $font-heading;
	text-transform: uppercase;
	letter-spacing: 0.6px;
}

.row {
	height: 100%;
	display: flex;
	.col {
		flex: 0 0 50%;
		max-width: 50%;
	}
}


.break-md {
	display: none;
	@media (min-width: 1360px) {
		display: initial;
	}
}

#fullpage {
	height: 100%;
	position: relative;
}

.fp-viewing-contact {
	.logo svg path {
		fill: #fff;
	}
	.language-menu a {
		color: #000;
	}
}





.split-line {
	overflow: hidden;
	//display: inline-block;

	 span {
		transform: translateY(120%);
		//opacity: 0;
		transition: transform 1.4s cubic-bezier(0.38, 0.01, 0.2, 1), opacity 0.4s;

		&.in {
			transform: translateY(0);
		}
	}
}


.split-text {
	position: absolute;
    left: auto;
	top: auto;
	bottom: 50%;
	transform: translateY(50%);

	&:after {
		content: '';
		display: block;
		width: 30px;
		height: 2px;
		background-color: $color1;
		transform-origin: 0% 50%;
		transform: scaleX(0);
		display: none;
		margin-top: 2rem;
		transition: 0.4s cubic-bezier(0.38, 0.01, 0.2, 1);

		@media (min-width: $md) {
			display: block;
		}
	  }

	  span {
		  display: block;
		  will-change: transform;
	  }
}




.split-text.active:after {
	transform: scaleX(1);
	transition-delay: 1.4s;
	transform-origin: 0% 50%;

}

.split-text.active .split-line {
	span {
		transform: translateY(0);
		opacity: 1;
		transition: 1.4s cubic-bezier(0.38, 0.01, 0.2, 1), opacity 0.3s;
	}
}




.split-text .split-line:nth-child(1) {
	span {
		transition-delay: 0s;
	}
}

.split-text .split-line:nth-child(2) {
	span {
		transition-delay: 0.2s;
	}
}

.split-text .split-line:nth-child(3) {
	span {
		transition-delay: 0.4s;
	}
}

.split-text .split-line:nth-child(4) {
	span {
		transition-delay: 0.6s;
	}
}


.split-text .split-line:nth-child(5) {
	span {
		transition-delay: 0.8s;
	}
}

.split-text .split-line:nth-child(6) {
	span {
		transition-delay: 1s;
	}
}


/*
.text-line {
	display: block;
	overflow: hidden;

	span {
		display: block;
	 // transform: translateY(100%);
	}
}
*/


* {
	//transition: 0s !important;
}

#fullpage {
	will-change: transform;
	transition: 0.8s cubic-bezier(0.63, 0.04, 0, 0.99) 0s !important;
}