* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: $font-base;
	line-height: 1.6;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	color: #000;
	overflow-x: hidden;

	@media (min-width: $sm) {
		font-size: 18px;
	}

	@media (min-width: $md) {
		font-size: calc(12px + 0.3vw);
	//font-size: 16px;	
	}
}


img {
	max-width: 100%;
	height: auto;
}

a:link,
a:active,
a:visited,
a {
	outline: 0;
	color: $color1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	//font-family: $font-heading;
	margin: 0;
	font-weight: 500;
}

.font-base {
	font-family: $font-base;
}

.font-heading {
	font-family: $font-heading;
}

.heading-caps {
	font-family: $font-heading;
	text-transform: uppercase;
	letter-spacing: 0.6px;
}

.row {
	height: 100%;
	display: flex;
	.col {
		flex: 0 0 50%;
		max-width: 50%;
	}
}

#fullpage {
	height: 100%;
	position: relative;
}

.fp-viewing-contact {
	.logo svg path {
		fill: #fff;
	}
	.language-menu a {
		color: #000;
	}
}

.split-line {
	overflow: hidden;
	//display: inline-block;

	 span {
		transform: translateY(120%);
		transition: 1s cubic-bezier(0.38, 0.01, 0.2, 1);

		&.in {
			transform: translateY(0);
		}
	}
}


.split-text {
	position: absolute;
    left: auto;
	top: auto;
	bottom: 50%;
	transform: translateY(50%);
}

.split-text.active .split-line {
	span {
		transform: translateY(0);
		transition: 1.4s cubic-bezier(0.38, 0.01, 0.2, 1);
	}
}


/*
.text-line {
	display: block;
	overflow: hidden;

	span {
		display: block;
	 // transform: translateY(100%);
	}
}
*/


* {
	//transition: 0s !important;
}

#fullpage {
	will-change: transform;
	transition: 0.8s cubic-bezier(0.63, 0.04, 0, 0.99) 0s !important;
}