* {
	box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: $font-base;
	font-size: 16px;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	color: #000;
	overflow-x: hidden;

	@media (min-width: $sm) {
	}

	@media (min-width: $md) {
	}
}

img {
	max-width: 100%;
	height: auto;
}

a:link,
a:active,
a:visited,
a {
	outline: 0;
	color: $color1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	//font-family: $font-heading;
	margin: 0;
	font-weight: 500;
}

.font-base {
	font-family: $font-base;
}

.font-heading {
	font-family: $font-heading;
}

.heading-caps {
	font-family: $font-heading;
	text-transform: uppercase;
	letter-spacing: 0.6px;
}

.row {
	height: 100%;
	display: flex;
	.col {
		flex: 0 0 50%;
		max-width: 50%;
	}
}

#fullpage {
	height: 100%;
	position: relative;
}

.fp-viewing-contact {
	.logo svg path {
		fill: #fff;
	}
	.language-menu a {
		color: #000;
	}
}

.split-line {
	overflow: hidden;
	//display: inline-block;

	 span {
		transform: translateY(100%);
		transition: 2s;

		&.in {
			transform: translateY(0);
		}
	}
}


/*
.text-line {
	display: block;
	overflow: hidden;

	span {
		display: block;
	 // transform: translateY(100%);
	}
}
*/