.business-form__button {

}

.business-form__icon, .business-form__close {
  position: absolute;
  top: 1.4rem;
  right: 1.4rem;
  z-index: 40;
  width: 2rem;

  svg {
    * {
      fill: #fff;
    }
  }
}

.active .bf-trigger {
  
}

.business-form {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  background: #11191e;
  opacity: 0;
  visibility: hidden;
  will-change: transform;
  //transform: scale(1.8);
  transition: 1s cubic-bezier(0.63, 0.13, 0, 0.95);

  &.active {
    opacity: 1;
    visibility: visible;
    //transform: scale(1) ;
    
  }

  &__close {

  }

  &__inner {
    margin: 0 auto;
    max-width: 800px;
  }

  &__close {
    display: inline-block;
    margin-bottom: 4rem;
  }

  &__button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 4;
    
    @media (max-width: $xs) {
      padding-left: 1.3rem;
      padding-right: 1.3rem;
    }
  }
}
