.business-form__button {

}

.business-form__icon, .business-form__close {
  position: absolute;
  top: 1.3rem;
  right: 1.3rem;
  z-index: 40;
  width: 2rem;
  height: 2rem;
  cursor: pointer;

  @media (min-width: $sm) {
    top: 1.8rem;
    right: 1.8rem;
  }

  svg {
    * {
      fill: #fff;
    }
  }
}


.business-form {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  //margin: 5rem 10rem;
  z-index: 50;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
  background: rgba(0,0,0,0.98);
  opacity: 0;
  visibility: hidden;
  overflow: auto;
  will-change: transform;
  transform: scale(0.8);
  transform-origin: 50% 50%;
  transition: 0.6s cubic-bezier(0.63, 0.13, 0, 0.95);

  @media (min-width: $md) {
    align-items: center;
    padding-top: 0;
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    
    
  }

  &__inner {
    margin: 0 auto;
    max-width: 800px;
  }


}
