.business-form__button {

}

.business-form__icon, .business-form__close {
  position: absolute;
  top: 1.3rem;
  right: 1.3rem;
  z-index: 40;
  width: 2rem;
  height: 2rem;
  cursor: pointer;

  @media (min-width: $sm) {
    top: 1.8rem;
    right: 1.8rem;
  }

  svg {
    * {
      fill: #fff;
    }

    .circle {
      opacity: 0.4;
      transition: 0.4s;
    }
  }
}

.business-form__icon:hover {
  svg .circle {
    opacity: 1;
  }

  span:before {
    transform: scaleX(1);
  }
}

.business-form__icon span {
  color: white;
  font-family: khand;
  text-transform: uppercase;
  position: absolute;
  right: 1.7rem;
  top: 0.3rem;
  width: 5rem;
  font-size: 1rem;
  font-weight: 500;

  display: none;

  @media (min-width: $sm) {
    display: block;
  }

/*
  &:before {
    content: '';
    display: block;
    background: #fff;
    height: 2px;
    width: calc(100% - 1rem);
    position: absolute;
    bottom: 0;
    will-change: transform;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: 0.8s cubic-bezier(0.68, 0.02, 0, 0.96) 0.2s;
  }
  */
}


.business-form {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  //margin: 5rem 10rem;
  z-index: 50;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
  background: rgba(0,0,0,1);
  opacity: 0;
  visibility: hidden;
  overflow: auto;
  will-change: transform;
  transform: scale3D(0.8,0.8,1);
  pointer-events: none;
  transform-origin: 50% 50%;
  transition: 0.3s ease;

  @media (min-width: $md) {
    align-items: center;
    padding-top: 0;
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transform: scale3D(1,1,1);
    pointer-events: all;
    transition: 0.4s ease;
    
  }

  &__inner {
    margin: 0 auto;
    max-width: 800px;
  }


}
