.contact-details {
  //display: none;
  font-family: $font-heading;
  text-transform: uppercase;
  
  a {
    color: #fff;
    transition: 0.3s;
    text-decoration: none;
    &.hover {
      color: $color1;
    }
  }
}