.contact-details {
  position: absolute;
  left: auto;
  bottom: 2rem;

  @media (min-width: $sm) {
    bottom: 4rem;
  }

  &__grid {
    display: flex;
    flex-direction: column;
        
    @media (min-width: $sm) {
      flex-direction: row;
    }
  }

  a {
    color: #fff;
    font-family: $font-heading;
    font-size: 1.4rem;
    transition: 0.3s;
    text-decoration: none;
    margin-right: 2rem;

    &:hover {
      color: $color1;
    }
  }

}