
#form {

  text-align: center;

  .isNotValid {
    display: block;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: -1rem;
    color: $color1;
  }

  label {
    font-family: $font-heading;
    text-transform: uppercase;
    display: none;
    outline: none;
    outline: 0;
  }

  h2 {
    margin-bottom: 2rem;
    font-weight: 300;
    line-height: 1.3;
    @media (min-width: $md) {
      font-size: 2rem;
      margin-bottom: 3rem;
    }
  }

  h3 {
    @media (min-width: $md) {
    font-size: 2rem;
    font-weight: 300;
    }
  }

  form {
    display: flex;
  }

  .active, .hide {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 50%;
    max-width: 600px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10%;
    padding-top: 4rem;
    

    @media (min-width: $md) {
      height: auto;
      padding: 2rem;
      transition: 0.6s cubic-bezier(0.42, 0, 0, 0.99);
    }

    @media (min-width: $lg) {
      max-width: 800px;
    }
  }
  .hide {
    opacity: 0;
    pointer-events: none;
    //transform: translate(-40%, -50%);
  }

  .active {
    opacity: 1;
  }
  .button {
    margin: 3rem auto 3rem;
  }

  .checkboxGrid {
    display: block;
    @media (min-width: $md) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
    }
  }

  .formGrid {
    text-align: left;

    .has-float-label {
      position: relative;
      border-bottom: 1px solid #1d2b33;
      margin-bottom: 1rem;

      input {
        border: none;
      }
      label {
        transition: all .3s ease-in-out;
        top: 1rem;
        left: 0;
        position: absolute;
      }
      input:focus + label {
        top: 0;
      }

    }

  }

  .checkbox {

    flex: calc(50% - 10px);
    text-align: left;
    padding: 0.3rem;
    //background: #1d2529;
    margin: 5px;
    outline: 0;


    @media (min-width: $lg) {
      padding-left: 3rem;
    }
    
    label input[type=radio],
    label input[type=checkbox] {
      display: none;
    }
    label {
      text-transform: uppercase;
      padding-left: 1.75rem;
      cursor: pointer;
      position: relative;
      display: block;
    }
    label > span.square {
      position: absolute;
      top: 0;
      left: 0;
      width: 1rem;
      height: 1rem;
      margin: 0.25rem 0;
      border: 2px solid #B0BEC5;
      transition: 0.4s cubic-bezier(0.63, 0.13, 0, 0.95);
    }
    label input[type=checkbox]:checked ~ span.square {
      border-color: $color1;
    }
    label input[type=checkbox] ~ span.square:after {
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      margin: 0;
      display: block;
      background: $color1;
      transform: scale(0);
      transform-origin: 50% 50%;
      will-change: transform;
      transition: 0.4s cubic-bezier(0.63, 0.13, 0, 0.95);
    }
    label input[type=checkbox]:checked ~ span.square:after {
      transform: scale(1);
    }

  }

}
