.home-logos {
  position: absolute;
  left: auto;
  bottom: 2rem;

  @media (min-width: $sm) {
    display: block;
    bottom: 4rem;
  }

  &__text {
    margin: 10rem auto 3rem;
    max-width: 600px;
    //font-size: 0.8rem;
    color: #fff;
  }

  &__grid {
        
    @media (min-width: $sm) {
      display: flex;
      top: auto;
      bottom: 4rem;
      left: auto;
    }
  }

  &__item {

    font-family: $font-heading;
    text-transform: uppercase;
    margin-right: 3rem;
    margin-top: 0.2rem;
    opacity: 0.4;
    transition: 0.4s;
    cursor: pointer;
    
    @media (min-width: $sm) {
      margin-top: 0;
    }

    &:hover, &.active {
      opacity: 1;
    }

    img {
      height: 1.2rem;
      @media (min-width: $sm) {
        height: 2rem;
      }
    }

  }
}