.home-logos {
  position: absolute;
  left: auto;
  bottom: 2rem;
  display: none;

  @media (min-width: 360px) {
    display: block;
  }

  @media (min-width: $sm) {
    display: block;
    bottom: 4rem;
  }

  &__grid {
        
    @media (min-width: $sm) {
      display: flex;
    }
  }

  &__item {

    font-family: $font-heading;
    text-transform: uppercase;
    margin-right: 2rem;
    margin-top: 0.2rem;
    opacity: 0.4;
    transition: 0.4s;
    cursor: pointer;
    
    @media (min-width: $sm) {
      margin-top: 0;
    }

    @media (min-width: $lg) {
      margin-right: 3rem;
    }

    &:hover, &.active {
      opacity: 1;
    }

    img {
      height: 1.2rem;
      @media (min-width: $sm) {
        height: 1.8rem;
      }
      @media (min-width: $lg) {
        height: 2rem;
      }
    }

  }
}