.home-line {
  position: absolute;
  width: 30px;
  height: 2px;
  margin-top: 6rem;
  background-color: $color1;
  display: none;
  transform-origin: 0 50%;

  @media (min-width: $sm) {
    display: block;
  }


  @keyframes homelineanimate {
    0% { transform: scaleX(1); }
    50% { transform: scaleX(0); }
    100% { transform: scaleX(1); }
  }

  &.animate {
    //animation: homelineanimate 1.4s cubic-bezier(0.38, 0.01, 0.2, 1) 0.4s normal;
  }

}

.home-services {
  margin-top: 3rem;
  position: absolute;
  left: auto;
  bottom: 2rem;
  color: #fff;
  opacity: 0.3;
  display: none;
  
  @media (min-width: $sm) {
    display: flex;
    opacity: 1;
    display: none;
  }

  &__item {

    font-family: $font-heading;
    text-transform: uppercase;
    margin-right: 3rem;

    @media (max-width: $sm) {
      
    }

  }
}