.language-menu {
    position: absolute;
    overflow: hidden;
    display: flex;
    top: 0.6rem;
    right: 3.3rem;
    z-index: 40;
    display: none;

    @media (min-width: $md) {

    }

    @media (min-width: $md) {
      display: block;
      top: auto;
      right: auto;
      bottom: 0.8rem;
      left: 0.8rem;
    }


    &:hover a {
        transform: translateX(0);
    }
    

    span, a {
        font-family: $font-heading;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        font-weight: 500;
        margin-right: 0.4rem;
        color: #fff;
        pointer-event: all;
        transition: 0.4s;
        padding: 1rem;

        @media (min-width: $md) {
            color: rgba(#000,0.2);

            &:hover {
                color: #000;
            }
        }

    }
}
