.loader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 1;
    background-color: #fff; 
    
    //display: none;
   
    &__logo {
        position: relative;
        z-index: 9999;
        text-align: center;
        opacity: 0;
       // transform: scale(5);
        will-change: transform;
        width: 10rem;
        height: 4rem;
        &.in {
            opacity: 1;
            transform: scale(1);
            transition: 1s transform cubic-bezier(0.63, 0.04, 0, 0.99), opacity 0s;
        }
        &--back,
        &--front {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            svg {
                width: 10rem;
                height: 4rem;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        &--back {
            svg {
                fill: #f2f2f2;
            }
        }
        &--front {
            width: 0%;

            &.animate {
                animation: logofill 1.6s 0.8s cubic-bezier(0.71, 0.11, 0, 0.94);
                animation-fill-mode: forwards;
                @keyframes logofill {
                   
                    1% {
                        width: 0;
                    }
                    100% {
                        width: 100%;
                    }    
                }

            }
            
            svg {
                fill: $color2;
            }
        }
    }
}

.fp-init .loader {
    opacity: 0;
    visibility: hidden;
    transition: 1s 0.4s;

    .loader__logo {
        transform: scale(1);
        opacity: 0;
        transition: 1s transform cubic-bezier(0.63, 0.04, 0, 0.99), opacity 0.4s 0.2s;
    }
}
