.loader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 1;
    background-color: #fff; //display: none;
    &__logo {
        position: relative;
        z-index: 9999;
        text-align: center; //animation-name: logopulse;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        opacity: 0;
        transform: scale(2);
        will-change: transform;
        width: 12rem;
        height: 4.8rem;
        &.in {
            opacity: 1;
            transform: scale(1);
            transition: 1s transform cubic-bezier(0.63, 0.04, 0, 0.99), opacity 0.4s;
        }
        &--back,
        &--front {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            svg {
                width: 12rem;
                height: 4.8rem;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        &--back {
            svg {
                fill: #f2f2f2;
            }
        }
        &--front {
            width: 0%;

            &.animate {
                animation: logofill 1.6s 0.8s cubic-bezier(0.71, 0.11, 0, 0.94);
                animation-fill-mode: forwards;
                @keyframes logofill {
                   
                    1% {
                        width: 0;
                    }
                    100% {
                        width: 100%;
                    }    
                }

            }
            
            svg {
                fill: $color2;
            }
        }
    }
    &__title {
        display: block;
        color: #f2f2f2;
        text-align: center;
        letter-spacing: 0.33rem;
        margin-right: -0.33rem;
        font-size: 0.8rem;
        font-weight: 500;
        text-transform: uppercase;
        font-family: $font-heading;
        overflow: hidden;
        display: none;
    }
}

.fp-init .loader {
    opacity: 0;
    visibility: hidden;
    transition: 0.8s;

    .loader__logo {
        //transform: scale(0.8);
    }
}
