.logo {
	position: fixed;
	width: 4.4rem;
	height: 2rem;
	top: 1.5rem;
	left: 1.4rem;
	opacity: 1;
	z-index: 50;
	svg path {
    fill: #fff;
    @media (min-width: $sm) {
      //fill: #000;
    }
	}
}

.fp-init .logo{
	opacity: 1;
}

