.logo {
	position: fixed;
	width: 4.4rem;
	height: 2rem;
	top: 1.5rem;
	left: 1.4rem;
	opacity: 1;
	z-index: 30;
	cursor: pointer;

	@media (min-width: $sm) {
		top: 2rem;
		left: 2rem;
	}
	svg path {		
		fill: #fff;
		@media (min-width: $md) {
			fill: #000;
		}
	}
}

.fp-init .logo {
	opacity: 1;
}

.business-form.active + .site-main .logo {
	svg path {
	//	fill: #fff;
	}
}
