.logo {
	position: fixed;
	width: 5.6rem;
	height: 2.4rem;
	top: 1.8rem;
	left: 1.6rem;
	opacity: 1;
	z-index: 50;
	svg path {
    fill: #fff;
    @media (min-width: $sm) {
      fill: #f00;
    }
	}
}

.fp-init .logo{
	//opacity: 1;
}

