.project-arrow {
 position: absolute;
  top: 50%;
  right: 3rem;
  z-index: 10;
  transform: translate3d(0, -50%, 0);
  font-size: 0;
  display: none;
  
  @media (min-width: $md) {
    display: block;
  }

  &:after {
    content: 'Visit site';
    position: absolute;
    pointer-events: none;
    font-size: 1rem;
    font-weight: 500;
    right: 120%;
    top: 50%;
    width: 4rem;
    text-align: right;
    font-family: $font-heading;
    text-transform: uppercase;
    color: #fff;
    transform: translate3D(-30%,-40%,0);
    opacity: 0;
    will-change: transform;
    transition: 1.2s cubic-bezier(0.56, 0.24, 0.17, 0.96);
    display: none;

    @media (min-width: 1025px) {
      display: block;
    }
  }

  &:hover:after {
    opacity: 1;
    transform: translate3D(0,-40%,0);
  }

}

.svg-arrow {
  cursor: pointer;
  transform: scale3D(0,0,1);
  width: 111px;
  height: 111px;
  border-radius: 100%;
  overflow: visible;
  will-change: transform;
  transition: box-shadow 1s ease-out, transform 0.4s ease-out;

  
  &:hover {
    //box-shadow: 0 0 60px 0 rgba(#fff, 0.6);
    .circle-top {
      stroke-dasharray: 350;
      stroke-dashoffset: 0;
      transform: rotate(180deg);
    }
    .circle-bottom {
      transform: scale(2);
      stroke-width: 1;
      opacity: 0;
    }
    .arrow-path {
      //animation: arrowGo 1s 1 cubic-bezier(0.51, 0.15, 0.43, 0.65);
    }
    @keyframes arrowGo {
      50% {
        transform: translateX(10px);
        opacity: 0;
      }
      51% {
        transform: translateX(-10px);
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  .circle-bottom {
    fill: none;
    stroke: rgba(#fff, 0.4);
    stroke-width: 1;
    transform-origin: 50%;
    pointer-events: none;
    vector-effect: non-scaling-stroke;
    transition: 1.2s cubic-bezier(0.56, 0.24, 0.17, 0.96);
  }
  .circle-top {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    transform-origin: 50%;
    stroke-dasharray: 350;
    stroke-dashoffset: 350;
    vector-effect: non-scaling-stroke;
    transition: 1.2s cubic-bezier(0.56, 0.24, 0.17, 0.96);
  }
  .arrow-path {
    
    fill: #fff;
    transform-origin: 50% 50%;
    transition: 1.2s linear;
  }
  @keyframes arrowIn {
    0% {
      opacity: 1;
      transform: translate(0px, 0px);
    }
    49% {
      opacity: 0;
      transform: translate(20px, 0px);
    }
    51% {
      opacity: 0;
      transform: translate(-20px, 0px);
    }
    100% {
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }
}

.active .svg-arrow {
  transform: scale3D(1,1,1);
  transition: box-shadow 1s ease-out, transform 2s cubic-bezier(0.56, 0.24, 0.17, 0.96) 1.45s;
}