.section {
  position: relative;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 100vh;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  transform-origin: 50% 50%;
  //opacity: 0;
  //visibility: hidden;
  pointer-events: none;
}

.section.active {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}








