.section-content {
  
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 5%;


  @media (min-width: $md) {
    padding: 10%;
    width: 60%;
    left: 40%;
    color: #fff;
  }
}

.section--home .section-content {

  &__title {
    font-size: 1.2rem;
    overflow: hidden;
    font-weight: 400;
    //text-align: center;
    color: #fff;

    @media (min-width: $md) {
      font-size: 1.6rem;
    }

    span {
      display: block;      
    }
  }

  &__button {
    display: none;
    margin-top: 1.6rem;
  }



}

.section--contact .section-content {

  justify-content: center;

  &__inner {
    text-align: center;
  }
  
  &__title {
    font-size: 2rem;
  }

  &__cities {
    display: flex;

    span {
      text-transform: uppercase;
      font-family: $font-heading;

    }

  }



  &__mail, &__phone {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.3rem;

    a {
      text-decoration: none;
      color: #fff;
    }
  }

  &__mail {
    a {
      
    }
  }

  .button {
    position: absolute;
    bottom: 3rem;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    border-width: 2px;
  }
}

.section--work .section-content{

 
  top: 50%;
  left: 0;
  height: 50%;

  @media (min-width: $md) {
    display: none;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: 2.4rem;
    text-transform: uppercase;
    font-family: khand;
    display: block;
    letter-spacing: -1px;
    margin-bottom: 0;

    &:after {
      content: '';
      display: block;
      width: 30px;
      height: 2px;
      background-color: orange;
      display: none;
    }
  }

  &__info {
    
    position: relative;
    font-size: 1rem;
    font-weight: 500;

    .info-list {
      list-style-type: none;
      padding: 0;
      margin: 0;  
    }

    .info-heading {
      @extend .heading-caps;
    }
  }

}

