.section-content {
  
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 5%;


  @media (min-width: $md) {
    padding: 10%;
    width: 60%;
    left: 40%;
    color: #fff;
  }
}

.section--home .section-content, .section--contact .section-content {

  &__title {
    font-size: 1.2rem;
    overflow: hidden;
    font-weight: 400;
    //text-align: center;
    color: #fff;

    @media (min-width: $md) {
      font-size: 1.6rem;
    }
    
  }

  &__email {
    color: $color1;
  }

  &__button {
    margin-top: 2rem;
  }

}

.section--work .section-content{

 
  top: 50%;
  left: 0;
  height: 50%;

  @media (min-width: $md) {
    display: none;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: 2.4rem;
    text-transform: uppercase;
    font-family: khand;
    display: block;
    letter-spacing: -1px;
    margin-bottom: 0;

    &:after {
      content: '';
      display: block;
      width: 30px;
      height: 2px;
      background-color: orange;
      display: none;
    }
  }

  &__link {
    text-transform: uppercase;
    font-family: $font-heading;
    display: inline-block;
    margin-top: 1rem;
  }

  &__info {
    
    position: relative;
    font-size: 1rem;
    font-weight: 500;

    .info-list {
      list-style-type: none;
      padding: 0;
      margin: 0;  
    }

    .info-heading {
      @extend .heading-caps;
    }
  }

}


.section--eh .section-content__link {
  color: #353d58;
}

.section--ixion .section-content__link {
  color: #1f82e6;
}

.section--phc .section-content__link {
  color: #ff620d;
}

.section--stoica .section-content__link {
  color: #5b2e77;
}
