.section {
  position: relative;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 100vh;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  transform-origin: 50% 50%;
  //opacity: 0;
  //visibility: hidden;
  pointer-events: none;
}

.section.active {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  
}

.section__bg {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: relative;
}

.active .section__bg {
 
}


.home-content {
  color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  padding: 2rem;
  transform: translate3D(0, -50%, 0);
  z-index: 999;
  &__title {
    font-size: 2.9rem;
    overflow: hidden;
    span {
      display: block;      
    }
  }
  &__text {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 1px;
    span {
    }
  }

  sup {
    font-size: 1rem;
  }

  .text-line {
    display: block;
    overflow: hidden;

    span {
      display: block;
     // transform: translateY(100%);
    }
  }
}



.section--ixion .section__bg {
  
}