.section-bg {
  background-color: #12151f;
  position: absolute;
  z-index: -1;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  @media (min-width: $md) {
    left: auto;
    right: 0;
    width: 50%;
  }
}

.active .section-bg {
 
}

.section--home .section-bg,
.section--contact .section-bg {
  background-image: linear-gradient(to top, #12151f, #000000);
  @media (min-width: $md) {
    width: 60%;
    transform: scale(1);
    background-color: #12151f;
    transform-origin: 0% 50%;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background: #fff; //opacity: 0.05;
    mix-blend-mode: overlay;
    transform-origin: 50% 50%;
    transform: rotate(35deg) scaleY(3) translateX(-50%);
    @media (min-width: $md) {
      //display: none;
    }
  }
}

.section--work .section-bg {
  transform: scale(1.4) rotate(15deg) translateY(-24%);
  height: 50%;

  @media (min-width: $md) {
    height: 100%;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: 0s ease-out 0.7s;
  }
}

.active.section--work .section-bg {

  @media (min-width: $md) {
    transform: scaleX(1);
    transition: 3.8s cubic-bezier(0.42, 0, 0, 0.99) 0.2s;
  }
  
}




// work background gradients
.section--dumbbell .section-bg {
  background: radial-gradient(circle at 20% 80%, #fa653f, #ab1957);
}

.section--ixion .section-bg {
  background: radial-gradient(circle at 20% 80%, #1f82e6, #082754);
}

.section--phc .section-bg {
  background: radial-gradient(circle at 20% 80%, #99da26, #2e812b);
}

.section--stoica .section-bg {
  background: radial-gradient(circle at 20% 80%, #5b2e77, #252147);
}


