.section-mockup {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;

    @media (min-width: $md) {   
        transition: transform 1s ease-out 0.7s;
        transform: translate3D(0, 0, 0) scale3D(1.1, 1.1, 1.1);
        transition: transform 1s ease-out 0s, opacity 0.5s;
    }

    img {
        height: auto;
        position: absolute;
        max-width: 70vh;
        max-height: 100%;
        top: 5vh;
        //right: -10vh;

        right: 50%;
            transform: translateX(50%);


        @media (min-width: $sm) {
            right: 0;
            max-width: 100%;
            max-height: 90%;
            right: 50%;
            transform: translateX(50%);
        }

        @media (min-width: $md) {
            top: 50%;
            left: 50%;
            right: auto;
            max-width: 80%;
            transform: translate(-50%, -50%);
        }
    }
    

}

.active .section-mockup {
    @media (min-width: $md) {
        transform: translate3D(0, 0, 0) scale3D(1, 1, 1);
    transition: transform 5s ease-out 0.3s;
    transition: transform 5s ease-out 0.3s, opacity 0s 0s;
    }
}