.section {
  position: relative;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 100vh;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  transform-origin: 50% 50%; //opacity: 0;
  //visibility: hidden;
  pointer-events: none;
  @media (min-width: $md) {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.6s;  
  }
  
}

.section.active {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  @media (min-width: $md) {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
    transition: 1.4s 0.3s;
  }
}

.project__title {
  font-size: 4rem;
  font-weight: 400;
  color: #fff;
  position: absolute;
  //text-shadow: 0 0 60px rgba(#000, 0.4);
  bottom: 15%;
  left: 58%;
  z-index: 30;
  font-family: $font-heading;
  text-transform: uppercase;
  pointer-events: none;
  //white-space: nowrap;
  overflow: hidden;
  line-height: 4rem;
 
  display: none;
  
    @media (min-width: $md) {
      display: block;
      //width: 0%;
      overflow: hidden;
      will-change: transform;

      transform: scale(1.2);
      opacity: 0;
      transition: 2s ease-out 0s;
    }

    span {
      display: block;
      will-change: transform;
      transform: translateY(0);
      //transition: 0s ease-out 0.7s;
    }
    
}

.active .project__title {  
  transform: scale(1);
  opacity: 1; 
    transition: 2s cubic-bezier(0.42, 0, 0, 0.99) 0.8s;

  span {
    //transform: translateY(0);
    //transition: 1s cubic-bezier(0.42, 0, 0, 0.99) 0.9s;
  }
}

.project__info {
 
  position: absolute;
  bottom: 7%;
  left: 58%; 
  display: none;
  
    @media (min-width: $md) {
      display: flex;
    }
  .info {

    &__block {
      margin-right: 2rem;
      @media (min-width: $lg) {
        margin-right: 2.6rem;
      }

      @media (min-width: $xl) {
        margin-right: 4rem;
      }

    }
    &__title {
      font-family: $font-heading;
      color: rgba(#000, 0.8);
      text-transform: uppercase;
      font-weight: 500;
      display: block;
      mix-blend-mode: overlay;
      opacity: 0;
      transition: 0.6s ease-out;
    }
    &__text {
      color: #fff;
      font-weight: 300;
      display: block;
      position: relative;
      overflow: hidden;
      transition: 0.6s ease-out;
      span {
        display: block;
        transform: translateY(100%);
        transition: 0s ease-out 0.7s;
      }
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #fff;
        z-index: 1;
        transform: translate3d(0, -110%, 0);
      }
    }
  }
}

.info__block:last-of-type {
  display: none;

  @media (min-width: $lg) {
    display: block;
  }
}

.active .info__block {
  .info__title {
    opacity: 1;
    transition: opacity 1s 1.4s;
  }
  .info__text span {
    transform: translateY(0);
    transition: transform 1s cubic-bezier(0.63, 0.04, 0, 0.99) 1.5s;
  }
  .info__text:after {
    transform: translate3d(0, 110%, 0);
    transition: transform 1s cubic-bezier(0.63, 0.04, 0, 0.99) 1.4s;
  }
}

.active .info__block:nth-of-type(2) {
  .info__text span {
    transition-delay: 1.7s;
  }
  .info__text:after {
    transition-delay: 1.6s
  }
}

.active .info__block:nth-of-type(3) {
  .info__text span {
    transition-delay: 1.9s;
  }
  .info__text:after {
    transition-delay: 1.8s
  }
}
