.section-mockup {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    img {
        height: auto;
        position: absolute;
        max-width: 70vh;
        max-height: 100%;
        top: 5vh;
        right: -10vh;

        @media (min-width: $sm) {
            right: 0;
            max-width: 100%;
            right: 50%;
            transform: translateX(50%);
        }

        @media (min-width: $md) {
            top: 50%;
            left: 50%;
            right: auto;
            max-width: 80%;
            transform: translate(-50%, -50%);
        }
    }
    

}